<!DOCTYPE html>

<html>
<head>
  <title>Ad lib!!</title>
</head>
<body>
  <h1>Ad lib!!</h1>

<form method=POST action="/result">
  <!--/result as address bar tag -->

  </address>

  </address>

  </address>
  <p>
    Enter a name:
    <input type="text" name="entered_name">
  </p>
  <p>
    Enter a noun:
    <input type="text" name="noun">
  </p>
  <p>
    Enter a verb:
    <input type="text" name="verb">
  </p>
  <p>
      Select an adjective:
      <select name="adjective">
        <option value="tired">Tired!!!!</option>
        <option value="energized">Energized!!!</option>
      </select>
    </p>
  <input type="submit" value="Go">
</form>
</body>
</html>
