<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Meme Generator</h1>
    <img height="100px" width="150px"
    src="https://ichef.bbci.co.uk/images/ic/704xn/p072ms1x.jpg"
    alt="I am a meme">
    <h2>Welcome to my Meme Generator!</h2>

    <form method="post">
      Line 1 of Meme:<br>
      <input type="text" name="user-first-ln" value="First Line of Meme">
      <br>
      Line 2 of Meme:<br>
      <input type="text" name="user-second-ln" value="Second Line of Meme">
      <br>

      <select name="meme-type">
        <option value="college-grad">Happy College Grad</option>
        <option value="thinking-ape">Deep Thought Monkey</option>
        <option value="coding">Learning to Code</option>
        <option value="old-class">Old Classroom</option>
      </select>

      <input type="submit" value="Go!">
    </form>
  </body>
</html>
